# Basics of Python

Expressions

In [1]:
6+7

13

In [2]:
8*5

40

In [3]:
"hello world"

'hello world'

In [4]:
print ("hello world")

hello world

Statements

In [5]:
for i in range(6):
  print(i)

0
1
2
3
4
5

Comments

In [6]:
print("hello world")#

hello world

In [7]:
# print("hello world")

In [8]:
"""
this  is a comment
this is a multiline comment
"""
print("hello")

hello

# Data Types

In [9]:
type(69)

int

In [10]:
type(-45)

int

In [11]:
type('prasoon')

str

In [12]:
type(45.7)

float

In [13]:
type(6>9)

bool

Casting Data Types

In [14]:
int(5.8)

5

In [15]:
float(67)

67.0

In [16]:
str(67)

'67'

Variable

In [17]:
name = "blueline"
print(name)

blueline

In [18]:
greetings = "hello world"
print(greetings)

hello world

In [19]:
greetings

'hello world'

In [20]:
a = 10
b = 2
c = a+b
print(c)

12

# List

List

In [21]:
animals = ("dog", "cat", "sheep", "goat", "tiger","lion")
print(animals[2])

sheep

In [22]:
print(animals[-3])

goat

In [23]:
print(animals[2:5])

('sheep', 'goat', 'tiger')

create list of fruits

In [24]:
fruits = ("apple", "banana", "peach", "orange")
fruits[3]

'orange'

change value of an item in list

In [27]:
fruits = ["apple", "banana", "peach", "orange"]
fruits[2]

'peach'

add new item to list

In [28]:
fruits.append('cherry')
fruits

['apple', 'banana', 'peach', 'orange', 'cherry']

Change item in a list

In [29]:
fruits[0] = 'watermelon'
print(fruits)

['watermelon', 'banana', 'peach', 'orange', 'cherry']

Mixed data in a list

In [30]:
mixed = ["mango", "true", 11, 5.3]
mixed[3]

5.3

loop through list

In [37]:
for a in animals:
  print(a)

dog
cat
sheep
goat
tiger
lion

check lenghth of list

In [38]:
print(len(animals))

6

In [39]:
print(fruits[1:3])

['banana', 'peach']

In [40]:
fruits.clear()
fruits

[]

# Tuple

Tuple: collection of mixed data type storing muliple values. cannot add or delete item from tuple

In [42]:
animal = ("bear", "dog", "cat", "rat", "goat")
animal [-2]

'rat'

looping through tuple

In [43]:
for i in animal:
  print(i)

bear
dog
cat
rat
goat

In [44]:
print(len(animal))

5

 Joining tuples suing +

In [45]:
letters = ('a', 'b','c')
numbers = (1, 2, 3)
letter_numbers = letters + numbers
print(letter_numbers)

('a', 'b', 'c', 1, 2, 3)

# Dictionary

Dictionaries key-value pair separated by commas

In [46]:
country_city = {
    "uk"    : "london",
    "usa"   : "washington",
    "italy" : "rome",
    "egypt" : "cairo"
}
country_city["italy"]

'rome'

get returns value of the key

In [47]:
country_city.get("egypt")

'cairo'

In [48]:
country_city["usa"] = "atlanta"
country_city["usa"]

'atlanta'

add item to dictionary

In [49]:
country_city["japan"] = "tokyo"
print(country_city)

{'uk': 'london', 'usa': 'atlanta', 'italy': 'rome', 'egypt': 'cairo', 'japan': 'tokyo'}

to remove an item

In [50]:
country_city.pop("japan")
print(country_city)

{'uk': 'london', 'usa': 'atlanta', 'italy': 'rome', 'egypt': 'cairo'}

In [51]:
for i in country_city:
  print(i)

uk
usa
italy
egypt

In [52]:
for i in country_city.values():
  print(i)

london
atlanta
rome
cairo

display both key and values

In [53]:
for x,y in country_city.items():
  print(x,y)

uk london
usa atlanta
italy rome
egypt cairo

In [54]:
print(len(country_city))

4

# Operators

In [55]:
x = 4
y = 7
print(x+y)

11

In [56]:
print(x*y)

28

In [57]:
x = 3
x +=3
print(x)

6

In [58]:
x = 7
x *= 2
print(x)

14

In [59]:
x = 7
y = 4
print(x==y)

False

In [60]:
x = 7
y = 9
print(x<y)

True

# Statements

If Statement

In [61]:
a = 2
b = 3
if a<b:
  print("a is smaller than b")

a is smaller than b

ELIF Statement

In [62]:
a = 10
b = 20
if a == b:
  print("both a and b are equal")
elif a < b:
    print("a is less than b")

a is less than b

ELSE Statement

In [63]:
a = 10
b = 20
if a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")
else:
  print(" b is greater than c")

 b is greater than c

In [64]:
first = int(input("enter the number"))
second = int(input("enter the number"))
sum = first + second
print(sum)

enter the number8
enter the number9
17

# Looping

LOOP Statements
While

In [65]:
i = 1
while i<7:
  print(i)
  i += 1

1
2
3
4
5
6

In [66]:
i = 1
while i<7:
  print(i)
  if (i == 4):
    break
  i += 1

1
2
3
4

FOR Loop

In [67]:
name = ["joy", "jack", "jill"]
for x in name:
  print(x)

joy
jack
jill

In [68]:
for x in "india":
  print(x)

i
n
d
i
a

In [69]:
colour = ["red", "orange", "green"]
fruit =  ["cherry", "orange", "grapes"]
for x in colour:
  for y in fruit:
    print (x,y)

red cherry
red orange
red grapes
orange cherry
orange orange
orange grapes
green cherry
green orange
green grapes

# Functions

Functions

In [70]:
def sum(x,y):
  print(x + y)

sum(2,3)

5

In [71]:
def sum(x,y):
  print(x + y)

In [72]:
sum(2, 7)

9

In [73]:
def student(name = "blueline"):
  print("hello " + name)

calling function without argument

In [74]:
student()

hello blueline

In [75]:
student("john")

hello john

In [76]:
student("james")

hello james

In [77]:
def calculator(operand1, operand2, operator):
  if operator == '+':
    return operand1 + operand2
  elif operator == '*':
    return operand1 * operand2
  elif operator == '/':
    if operand2 != 0:
      return operand1 / operand2
    else:
      return none
  else:
    return "invalid inputs"

In [78]:
output = calculator(10, 20, '+')
print(output)

30

# Exercise

In [79]:
# Python Program to find the area of triangle

a = 5
b = 6
c = 7

# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70